@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@layer base {
  * {
    @apply dark:border-gray-800;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
    @apply dark:text-white;
  }

  p {
    @apply text-gray-600;
    @apply dark:text-gray-400;
  }

  a {
    @apply text-gray-600;
    @apply dark:text-gray-400;
    @apply transition;
    @apply duration-200;
  }
  a:hover {
    @apply text-gray-800;
    @apply dark:text-gray-100;
  }
}

.btn-primary {
  @apply rounded border border-black dark:border-white;
  @apply text-white dark:text-black hover:text-black dark:hover:text-white;
  @apply bg-black dark:bg-white hover:bg-white dark:hover:bg-black;
  @apply transition duration-200;
}
.btn-primary:disabled {
  @apply pointer-events-none;
}
.btn-secondary {
  /* rounded border font-semibold  py-2 px-8 mr-2 */
  @apply rounded border border-gray-500 dark:border-gray-400 hover:border-black dark:hover:border-white;
  /* @apply text-white dark:text-black hover:text-black dark:hover:text-white; */
  /* @apply bg-black dark:bg-white hover:bg-white dark:hover:bg-black; */
  @apply transition duration-200;
}
